.banner__wrapper {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.banner__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

.banner__text {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.banner__img img {
  display: block;
  margin: 0 auto;
}

.banner__button {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 40px;
  border: none;
  background-color: @light-green;
  .banner__text
}
