.catalog__title--h2 {
  position: relative;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding-top: 28px;

  &::after {
    position: absolute;
    content: "";
    width: 300%;
    height: 1px;
    background: #D9D9D9;
    top: 0;
    left: -50%;
  }
}

.catalog__items {
  padding-top: 20px;
}

.catalog__item {
  box-sizing: border-box;
  position: relative;
  margin-top: 20px;

  &::after {
    position: absolute;
    content: "";
    width: 300%;
    height: 1px;
    background: #D9D9D9;
    top: 0;
    left: -50%;
  }
}

.catalog__block {
  display: flex;
  box-sizing: border-box;

  &--big {
    padding-top: 5px;
  }
}

.catalog__inner {
  flex: 1;

  &--first {
    padding-top: 21px;
  }

  &--small {
    padding-top: 25px;
  }

  &--big {
    padding-top: 20px;
  }

  &--last {
    padding-top: 28px;
  }
}

.catalog__img {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex: 1;

  &--first {
    padding-top: 35px;
  }

  &--small {
    padding-top: 50px;
  }

  &--big {
    padding-top: 30px;
  }

  &--last {
    padding-top: 50px;
  }
}

.catalog__inside {
  
  &--first {
    width: 68px;
    height: 86px;
  }

  &--small {
    display: block;
    width: 68px;
    height: 78px;
  }

  &--big {
    width: 84px;
    height: 104px;
  }

  &--last {
    width: 72px;
    height: 84px;
  }
}

.catalog__img img {
  max-width: 100%;
  height: auto;
}

.catalog__title--h4 {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @dark-grey;
  text-transform: uppercase;
  margin: 0;
}

.catalog__paragraphs {
  padding-top: 15px;
}

.catalog__p {
  display: flex;
  justify-content: space-between;
}

.catalog__text {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
  margin: 0;
  padding: 0;
}

.catalog__button {
  .banner__button;
  margin-top: 0;

  &--small {
    margin-top: 22px;
  }

  &--big {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  &--last {
    margin-top: 20px;
  }
}

.catalog__more {
  position: relative;
  box-sizing: border-box;
  margin-top: 25px;
  padding-bottom: 25px;
  padding-top: 25px;

  &::before {
    position: absolute;
    content: "";
    width: 300%;
    height: 1px;
    background: #D9D9D9;
    top: 0;
    left: -50%;
  }

  &::after {
    position: absolute;
    content: "";
    width: 300%;
    height: 1px;
    background: #D9D9D9;
    bottom: -1px;
    left: -50%;
  }
}

.catalog__img--more {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

.catalog__title--more {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 10px;
}

.catalog__text--more {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @dark-grey;
}

.catalog__button--more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 279px;
  height: 40px;
  background: @light-grey;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 0px;
  color: @dark-grey;
  text-transform: uppercase;
  border: none;
  margin-top: 22px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}

.map__inner--catalog {
  background-color: @light-grey;
}

.catalog__title--half {
  display: block;
}

.catalog__half {
  display: inline-block;
}

.catalog__title--hidden {
  display: none;
}
