.map__wrapper--catalog {
  margin-top: -35px;
  background: #F2F2F2;
}

.map__inner {
  display: flex;
  justify-content: space-around;
  padding-top: 31px;
  padding-bottom: 23px;
  padding-left: 13px;
  padding-right: 20px;
}

.map__img img {
  height: 362px;
}

.map__block {
  position: relative;
}

.map__pin {
  position: absolute;
  bottom: 46.5%;
  right: 40%;
}

.map__pin img {
  width: 57px;
  height: 53px;
}

.map__title {
  text-align: start;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.map__title--half {
  display: block;
}

.map__text {
  text-align: start;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: @dark-grey;
  margin: 0;
}

.map__text--half {
  display: block;
}
