.services__item {
  background-color: @light-grey;
}

.services__logo {
  width: 50px;
  height: 50px;
  background: @light-green;
  border-radius: 50%;
}

.services__logo--slim img {
  width: 36px;
  height: 50px;
}

.services__logo--pro img {
  width: 67px;
  height: 28px;
}

.services__icon {
  display: block;
  width: 32px;
  height: 11px;
}

.services__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.services__text {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
}

.services__title--h4 {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
